body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    color: #ffffff;
    background-color: #000000;
}

.navbar {
    background-color: #222222;
}

.nav-link {
    color: #ffffff !important;
}

.nav-link:hover {
    color: #007bff !important;
}

.hero {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-color: #000000;
}

.hero-content h1 {
    font-size: 2.5rem;
}

.hero-content p {
    font-size: 1.25rem;
}

.btn-light {
    background-color: #007bff;
    color: white;
}

.btn-light:hover {
    background-color: #0056b3;
}

.section {
    padding: 40px 0;
}

.footer {
    background-color: #000000;
    padding: 30px 20px;
}

.footer input, .footer textarea {
    margin: 10px 0;
    border: 1px solid #444;
    border-radius: 5px;
    background-color: #222222;
    color: white;
}

.footer input::placeholder, .footer textarea::placeholder {
    color: #bbb;
}

.footer button {
    background-color: #007bff;
    border: none;
}

.footer button:hover {
    background-color: #0056b3;
}
