body {
    font-family: 'Arial', sans-serif;
    color: #ffffff;
    background-color: #121212; /* Dunkler Hintergrund */
}

.hero {
    height: 100vh;
}

.fade-in {
    opacity: 0;
    animation: fadeIn 1s forwards;
}

@keyframes fadeIn {
    from { opacity: 0; }
    to { opacity: 1; }
}

.slide-in {
    opacity: 0;
    transform: translateY(20px);
    animation: slideIn 0.8s forwards;
}

@keyframes slideIn {
    from { opacity: 0; transform: translateY(20px); }
    to { opacity: 1; transform: translateY(0); }
}

.service-item {
    background-color: #1e1e1e; 
    transition: transform 0.3s, box-shadow 0.3s;
    border-radius: 10px;
    padding: 20px;
    opacity: 0;
    animation: fadeIn 0.8s forwards;
}

.service-item:hover {
    transform: translateY(-5px);
    box-shadow: 0 5px 15px rgba(255, 255, 255, 0.3);
}

.project-item {
    border: 1px solid #33ccff;
    transition: transform 0.3s, box-shadow 0.3s;
}

.project-item:hover {
    transform: translateY(-5px);
    box-shadow: 0 5px 15px rgba(255, 255, 255, 0.3);
}

.btn-primary {
    background-color: #007bff;
    border: none;
    transition: background-color 0.3s, transform 0.3s;
}

.btn-primary:hover {
    background-color: #0069d9;
    transform: scale(1.05);
}

form input, form textarea {
    background-color: #1e1e1e;
    color: #ffffff;
    border: 1px solid #333;
}

form input:focus, form textarea:focus {
    background-color: #333;
    border: 1px solid #007bff;
}

.footer-btn-animated {
    animation: pulse 1s infinite;
}

@keyframes pulse {
    0% {
        transform: scale(1);
    }
    50% {
        transform: scale(1.05);
    }
    100% {
        transform: scale(1);
    }
}
