body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    color: #ffffff;
    background-color: #000000;
    overflow-x: hidden;
}

.navbar {
    background-color: rgba(34, 34, 34, 0.9);
    transition: background-color 0.3s;
}

.navbar.scrolled {
    background-color: #111111;
}

.nav-link {
    color: #ffffff !important;
    transition: color 0.3s;
}

.nav-link:hover {
    color: #007bff !important;
}

.hero {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-color: #000000;
    animation: fadeIn 1s;
}

@keyframes fadeIn {
    from { opacity: 0; }
    to { opacity: 1; }
}

.hero-content h1 {
    font-size: 3rem;
    animation: slideIn 0.5s forwards;
    opacity: 0;
    transform: translateY(20px);
    animation-delay: 0.2s;
}

.hero-content p {
    font-size: 1.5rem;
    animation: slideIn 0.7s forwards;
    opacity: 0;
    transform: translateY(20px);
    animation-delay: 0.3s;
}

.btn-light {
    background-color: #007bff;
    color: white;
    border: none;
    padding: 10px 20px;
    font-size: 1.1rem;
    border-radius: 5px;
    transition: all 0.3s ease;
}

.btn-light:hover {
    background-color: #0056b3;
    transform: translateY(-3px);
    box-shadow: 0px 4px 15px rgba(0, 123, 255, 0.5);
}

.section {
    padding: 60px 0;
}

.service-box,
.project-box {
    transition: transform 0.3s, box-shadow 0.3s;
    border: 1px solid #444;
    border-radius: 5px;
    padding: 20px;
    margin: 15px;
    background-color: #222222;
    opacity: 0.9;
}

.service-box:hover,
.project-box:hover {
    transform: translateY(-5px);
    box-shadow: 0 4px 20px rgba(255, 255, 255, 0.2);
}

.footer {
    background-color: #000000;
    padding: 30px 20px;
}

.footer input,
.footer textarea {
    margin: 10px 0;
    border: 1px solid #444;
    border-radius: 5px;
    background-color: #222222;
    color: white;
    transition: border-color 0.3s;
}

.footer input::placeholder,
.footer textarea::placeholder {
    color: #bbb;
}

.footer input:focus,
.footer textarea:focus {
    border-color: #007bff;
    outline: none;
}

.footer button {
    background-color: #007bff;
    border: none;
    transition: background-color 0.3s, transform 0.2s;
}

.footer button:hover {
    background-color: #0056b3;
    transform: scale(1.05);
}
